@page
@model AllobjectsModel
@using WebApplication1.Models
@{
}

<body>

    <h1 class="re">Общая карта</h1>
    <svg id="map-svg" width="100%" height="auto" viewBox="0 0 2724 1728">
        <defs id="defs" />
        <g id="layer-fon">
            <image id="fon" x="0" y="0" width="2724" height="1728" xlink:href="/images/main/Map.png" />
        </g>
        <g id="layer-view">
            @foreach (var tag in Model.GeoTags)
            {
                <polygon points="@tag.Path" fill="rgba(255, 0, 0, 0.5)" stroke="black" stroke-width="2" />
            }
        </g>
    </svg>





     <div class="main_cont">

        <button id="addObject" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Показать объект</button>
        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Выберите тип объекта</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body container" id="modelMap">
                        <div class="firstlink">
                            <ul class="list-unstyled">
                                <p>Обитаемые модули</p>
                                <li>
                                    <label>
                                        <input type="checkbox" name="selectedLinks" value="link1" id="link1">
                                        <span></span> <!-- Заменяемый элемент -->
                                        <a class="links link-overlay" href="#!">
                                            Жилые модули
                                        </a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="selectedLinks" value="link2" id="link2">
                                        <span></span>
                                        <a class="links link-overlay" href="#!">
                                            Спортивные модули
                                        </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link3">
                                        <i class="bi bi-building pe-1"></i>
                                        Административные модули
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link4">
                                        <i class="bi bi-heart-pulse-fill  pe-1">
                                        </i>
                                        Медицинские модули
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay " href="#!" id="link5">
                                        <i class="bi bi-binoculars-fill  pe-1">
                                        </i>
                                        Исследовательские модули
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="secondlink">
                            <ul class="list-unstyled ">
                                <p>Технологические объекты</p>
                                <li>
                                    <a class="links link-overlay " href="#!" id="link6">
                                        <i class="fa-solid fa-screwdriver-wrench  pe-1">
                                        </i>
                                        Ремонтные модули
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay " href="#!" id="link7">
                                        <i class="fa-solid fa-rocket  pe-1">
                                        </i>
                                        Космодромы
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link8">
                                        <i class="fa-solid fa-satellite-dish pe-1">
                                        </i>
                                        Вышки связи
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link9">
                                        <i class="fa-solid fa-spa pe-1">
                                        </i>
                                        Плантации
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link11">
                                        <i class="fa-solid fa-trash pe-1">
                                        </i>
                                        Мусорные полигоны
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link12">
                                        <i class="fa-solid fa-industry pe-1">
                                        </i>Производственные предприятия
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="thirdlink">
                            <ul class="list-unstyled  thirdtext">
                                <p> </p>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link13">
                                        <i class="fa-solid fa-eye pe-1">
                                        </i>Астрономические площадки
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link14">
                                        <i class=" fa-solid fa-solar-panel pe-1">
                                        </i>Солнечные электростанции
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link15">
                                        <i class="fa-solid fa-helmet-safety pe-1">
                                        </i>Добывающие шахты
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="ok">ОК</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
 

    <script type="text/javascript">



            document.getElementById('ok').addEventListener('click', function() {
            if (document.getElementById('link1').checked) {
                window.location.href = '/residential';
            } else if (document.getElementById('link2').checked) {
                window.location.href = '/map';
            } else {
                alert('Пожалуйста, выберите хотя бы один чекбокс.');
            }
        });
 

    </script>



    <script type="text/javascript" src="{{ url_for('static', filename='json/coord.json') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>