.moonphoto {
    background-image: url("../images/main/Moon.png");
    background-repeat: no-repeat;
    background-position: top;
    display: block;
    height: 65vh;
    background-size: contain;
}
* {
    font-family: "Alumni" !important;
}
h1 {
    color: white;
    font-size: 172px !important;
}

p {
    color: white;
    font-size: 20px !important;
    text-align: center;
}
.starsphoto {
    background-image: url("../images/main/stars.png");
    background-repeat: no-repeat;
    background-position: top;
    display: block;
    height: 100vh;
    background-size: contain;
}

.gradient {
    font-size: 44px;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(184,184,184,1) 40%, rgba(255,255,255,1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
}
p2 {
    color: white;
    font-size: 40px !important;
    text-align: center;
}

.project {
    background-color: hsla(0, 0%, 0%, 0.5);
    border: 2px solid #ccc; /* Опционально: чтобы контур был виден */
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border-radius: 10px; /* Скругление углов (по желанию) */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 10); /* Внутренняя тень */
    transition: all 0.2s ease-in-out; /* Для плавности при наведении */
    width: 240px;
    text-decoration: none;
    font-family: "Alumni" !important;

}