@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center ">
 
    @* 
    <div class="img-fluid d-block text-center mx-auto">
        <img src="images/main/Moon.png" />
    </div>
    *@ 

    <div class=" moonphoto" >
            <h1 class="pt-5">LUNAR BASE</h1>
    </div>
</div>
