@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center ">
 
    @* 
    <div class="img-fluid d-block text-center mx-auto">
        <img src="images/main/Moon.png" />
    </div>
    *@ 

    <div class=" moonphoto" >
            <p class="pt-4">СТРОИТЕЛЬСТВО ЛУННОЙ БАЗЫ НА ЮЖНОМ ПОЛЮСЕ</p>
            <h1 class="pt-4 gradient text-body">МИССИЯ ЛУНА</h1>
            <button class="project"> НАЧАТЬ ПРОЕКТИРОВАНИЕ</button>
    </div>
    <div class=" starsphoto d-flex justify-content-center align-items-center">
        <p2 class="pt-5 ">Наша цель - создать устойчивую лунную базу на Южном полюсе Луны, обеспечивающую ученым и колонистам все необходимое для жизни и исследования</p2>
    </div>
    <a asp-page="/Error"></a>
</div>
