@page
@model MapModel
@{
}

<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Streaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1></h1>
    <img id="lunarImage" src="~/images/main/Map.png" alt="Изображение Луны" style="display:none;">

    <canvas id="canvas" height="500" width="500"></canvas>
    <div class="main_cont">

        <button id="addObject" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить объект</button>
        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Выберите тип объекта</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body container" id="modelMap">
                        <div class="firstlink">
                            <ul class="list-unstyled">
                                <p>Обитаемые модули</p>
                                <li>
                                    <label>
                                        <input type="checkbox" name="selectedLinks" value="link1" id="link1">
                                        <span></span> <!-- Заменяемый элемент -->
                                        <a class="links link-overlay" href="#!">
                                            Жилые модули
                                        </a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" name="selectedLinks" value="link2" id="link2">
                                        <span></span>
                                        <a class="links link-overlay" href="#!">
                                            Спортивные модули
                                        </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link3">
                                        <i class="bi bi-building pe-1"></i>
                                        Административные модули
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link4">
                                        <i class="bi bi-heart-pulse-fill  pe-1">
                                        </i>
                                        Медицинские модули
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay " href="#!" id="link5">
                                        <i class="bi bi-binoculars-fill  pe-1">
                                        </i>
                                        Исследовательские модули
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="secondlink">
                            <ul class="list-unstyled ">
                                <p>Технологические объекты</p>
                                <li>
                                    <a class="links link-overlay " href="#!" id="link6">
                                        <i class="fa-solid fa-screwdriver-wrench  pe-1">
                                        </i>
                                        Ремонтные модули
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay " href="#!" id="link7">
                                        <i class="fa-solid fa-rocket  pe-1">
                                        </i>
                                        Космодромы
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link8">
                                        <i class="fa-solid fa-satellite-dish pe-1">
                                        </i>
                                        Вышки связи
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link9">
                                        <i class="fa-solid fa-spa pe-1">
                                        </i>
                                        Плантации
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link11">
                                        <i class="fa-solid fa-trash pe-1">
                                        </i>
                                        Мусорные полигоны
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link12">
                                        <i class="fa-solid fa-industry pe-1">
                                        </i>Производственные предприятия
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="thirdlink">
                            <ul class="list-unstyled  thirdtext">
                                <p> </p>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link13">
                                        <i class="fa-solid fa-eye pe-1">
                                        </i>Астрономические площадки
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link14">
                                        <i class=" fa-solid fa-solar-panel pe-1">
                                        </i>Солнечные электростанции
                                    </a>
                                </li>
                                <li>
                                    <a class="links link-overlay" href="#!" id="link15">
                                        <i class="fa-solid fa-helmet-safety pe-1">
                                        </i>Добывающие шахты
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="ok">ОК</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <script type="text/javascript">



            document.getElementById('ok').addEventListener('click', function() {
            if (document.getElementById('link1').checked) {
                window.location.href = '/residential';
            } else if (document.getElementById('link2').checked) {
                window.location.href = '/map';
            } else {
                alert('Пожалуйста, выберите хотя бы один чекбокс.');
            }
        });

         let can = document.getElementById('canvas');
        can.width = 1200;
        can.height = 600;
        let ctx = can.getContext('2d'); // Получаем контекст рисования
         const lunarImage = document.getElementById('lunarImage');

        // Загружаем данные с localStorage, если они есть
        let data = JSON.parse(window.localStorage.getItem('storeObj'));

        // Функция отрисовки фигур из сохраненных данных
        function repaintButton() {
            ctx.strokeStyle = 'red';
            ctx.globalAlpha = 0.5; // Прозрачность
            ctx.fillStyle = 'red'; // Цвет
            ctx.lineWidth = 5; // Толщина линии
            ctx.lineJoin = "miter"; // Закругление соединений линий

            // Отрисовка фигур
            data.forEach((shape, j) => {
                ctx.beginPath();
                shape.forEach((p, i) => {
                    ctx[i ? 'lineTo' : 'moveTo'](...p);
                });
                if (j !== data.length - 1) {
                    ctx.fill();
                    ctx.closePath();
                }
                ctx.stroke();
            });

            // Рисуем синие точки для последней фигуры
            data[data.length - 1].forEach((p, i) => {
                ctx.strokeStyle = 'blue';
                ctx.beginPath();
                ctx.arc(...p, 10 / 20, 0, Math.PI * 2);  // Круг
                ctx.stroke();
            });
        }

        // Запрещаем рисовать на холсте, блокируем события
        can.addEventListener('mousedown', function(e) {
            e.preventDefault();
        });
        can.addEventListener('mousemove', function(e) {
            e.preventDefault();
        });
        can.addEventListener('mouseup', function(e) {
            e.preventDefault();
        });
        can.addEventListener('dblclick', function(e) {
            e.preventDefault();
        });

        // Отрисовываем сохраненные фигуры при загрузке страницы
        if (data) {
            repaintButton();
             ctx.drawImage(lunarImage, 0, 0, canvas.width, canvas.height);
        }

    </script>



    <script type="text/javascript" src="{{ url_for('static', filename='json/coord.json') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>